/**
字体相关
*/
$fontSize:16px;
$fontColor:#333;
$fontFamily: -apple-system,
Microsoft YaHei,
Trebuchet MS,
Calibri,
BlinkMacSystemFont,
Segoe UI,
Helvetica Neue,
Helvetica,
sans-serif;

/**
背景颜色相关
*/
$bgColor:#fff;

/** 
特殊设置
*/
$highlightColor:red;
$linkColor:#0366d6;
$linkHoverColor:#ff3399;