body {
    font-size: $fontSize;
    font-family: $fontFamily;
}

.container {
    width: 100%;
    margin: 0 auto;
}

a {
    color: #515c6b;

    &:hover {
        color: #ff3399;
    }
}

.rotate {
    transform: rotate(90deg);
}